# =========================================================
# 🚀 Gitignore pour projet ROS2 + Python + fichiers sonar
# =========================================================

# === Fichiers temporaires / cache système ===
*.log
*.swp
*.tmp
*.bak
*~
*.db3
# === Fichiers Python ===
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.env
.venv
venv/
env/

# === ROS2 / colcon / build ===
build/
install/
log/
rosbag/
.colcon/
.deps/
CMakeFiles/
CMakeCache.txt

# === Visual Studio Code / IDE ===
.vscode/
.idea/

# === Données sonar et lourds fichiers ===
*.mkv
*.oculus
*.nc

# === Fichiers systèmes inutiles ===
.DS_Store
Thumbs.db

# === Sauvegardes personnelles ===
*.old
*.backup

# === Fichiers générés par LaTeX (Rapports) ===
*.aux
*.glo
*.idx
*.ist
*.acn
*.out
*.pyg
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.blg
*.bbl
*.pdf

# === Archives et gros fichiers (pour les videos de Mr. Viel) ===
*.zip
*.tar.gz
