traitement_node:
  ros__parameters:
    enable_histogram_eq: true
    enable_tvg_correction: false
    tvg_alpha: 0.0
    tvg_spreading_loss: 20.0
    enable_median: true
    median_kernel: 7
    enable_gaussian: true
    gaussian_sigma: 3.0
    enable_so_cfar: true
    cfar_guard_cells: 20
    cfar_window_size: 30
    cfar_alpha: 6.5
    enable_adaptive_threshold: false
    adt_block_size: 51
    adt_c: 10
