blob_tracker_node:
  ros__parameters:
    enable_tracker: true
    template_size: 21
    search_radius: 30
    intensity_threshold: 120
    distance_expected: 1.0
    distance_epsilon: 0.3
    distance_sigma: 0.2
    ncc_threshold: 0.5
    weight_ncc: 0.6
    weight_stability: 0.25
    weight_distance: 0.15
    min_total_score: 0.3
    stability_window: 5
    stability_threshold: 0.4
    max_jump_m: 1.0
    top_k_candidates: 20
    recovery_enabled: true
