blob_tracker_node:
  ros__parameters:
    enable_tracker: true
    template_size: 21
    search_radius: 30
    intensity_threshold: 120
    distance_expected: 1.0
    distance_epsilon: 0.3
    distance_sigma: 0.2
    ncc_threshold: 0.5
    weight_ncc: 0.6
    weight_stability: 0.25
    weight_distance: 0.15
    min_total_score: 0.3
    stability_window: 5
    stability_threshold: 0.4
    max_jump_m: 1.0
    top_k_candidates: 20
    recovery_enabled: true

hough_lines_node:
  ros__parameters:
    enable_detection: false
    num_lines: 20
    threshold: 0.20
    rho_resolution: 1.0
    theta_resolution: 1.0
    use_probabilistic: true
    min_line_length: 0.20
    max_line_gap: 0.20

    enable_detection: true
    window_size_ang: 10  # Taille de la fenêtre pour le filtre moyenne mobile
    window_size_pos: 3 # taille de la fenêtre pour le filtre moyenne mobile sur la position
    outlier_threshold_deg: 60.0   # Seuil pour détecter les mesures <<abberant fréro>> en degrés
    outlier_threshold_pos : 2.0  # Seuil pour détecter les mesures aberrantes en position (en mètres)
    max_consecutive_outliers: 3 # Nombre maximum de mesures aberrantes consécutives avant réinitialisation du filtre

    

csrt_tracker_node:
  ros__parameters:
    # Activer/désactiver le tracking
    enable_tracking: true
    
    # Dimensions réelles de la cage (en mètres)
    cage_width: 1
    cage_height: 1
    
    # Paramètres CSRT OpenCV
    use_hog: true
    use_color_names: true
    use_gray: true
    use_rgb: false
    use_channel_weights: true
    use_segmentation: false
    
    # Taille du template et apprentissage
    template_size: 200.0
    gsl_sigma: 1.0
    hog_orientations: 9
    hog_clip: 0.2
    padding: 6.0
    filter_lr: 0.02
    weights_lr: 0.02
    
    # Seuil de confiance
    psr_threshold: 0.035
    
    # Nombre de scales pour la recherche
    number_of_scales: 33
    scale_sigma_factor: 0.25
    scale_model_max_area: 512.0
    scale_lr: 0.025
    scale_step: 1.02
